header {
    background: #1288d6;
    position: fixed;
    width: 100%;

    .nav-bar {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        background: url('../../assets/logo.png');
        background-position: center;
        background-size: cover;
        height: 3rem;
        width: 3rem;
    }
}
