.main {
    height: 100%;
    display: grid;
    grid-template-rows: 5rem auto 3rem;
    grid-template-areas: "header"
                         "main"
                         "footer";

    .cabecera {
        grid-area: header;
    }                     
    
    .container {
        grid-area: main;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2e2c2c;
        color: #fff;
        font-weight: bold;
    }

    footer:hover,
    footer:active {
        cursor: pointer;
    }
}
